<header class="cabecalho">
    <button class="btn btn-primary navbar-toggler cabecalho-menu" type="button" data-toggle="collapse"
        data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Menu Principal">
        <i class="fas fa-bars"></i>
    </button>
    <div class="cabecalho-logo">
        <img src="\images\logo.png" alt="Logo da Sacoleiras.com" />
    </div>
    <h1 class="cabecalho-titulo">
        <%= title %>
    </h1>
</header>