    <nav id="nav" class="menu-nav navbar-dark navbar-collapse collapse">
        <ul class="nav navbar-nav menu-list">
            <li class="nav-item">
                <div class="card">
                    <a href="/" class="btn btn-outline-info">Início</a>
                </div>
            </li>
            <li class="nav-item accordion">
                <div class="card">

                    <a href="#" class="btn btn-outline-info dropdown-toggle" data-toggle="collapse" type="button"
                        data-target="#clientCollapse" aria-controls="clientCollapse" aria-expanded="true">Clientes</a>
                    <div id="clientCollapse" class="collapse list-group-flush">
                        <a href="/new" class="list-group-item">Cadastrar</a>
                        <a href="/edit" class="list-group-item">Atualizar</a>
                        <a href="/list" class="list-group-item">Listar</a>
                        <a href="/delete" class="list-group-item">Remover</a>
                    </div>

                </div>
            </li>
            <li class="nav-item accordion">
                <div class="card">

                    <a href="#" class="btn btn-outline-info dropdown-toggle" data-toggle="collapse" type="button"
                        data-target="#salesCollapse" aria-controls="salesCollapse" aria-expanded="true">Vendas</a>
                    <div id="salesCollapse" class="collapse list-group-flush">
                        <a href="/new" class="list-group-item">Cadastrar</a>
                        <a href="/edit" class="list-group-item">Atualizar</a>
                        <a href="/list" class="list-group-item">Listar</a>
                        <a href="/delete" class="list-group-item">Remover</a>
                    </div>

                </div>
            </li>
            <li class="nav-item accordion">
                <div class="card">

                    <a href="#" class="btn btn-outline-info dropdown-toggle" data-toggle="collapse" type="button"
                        data-target="#storeCollapse" aria-controls="storeCollapse" aria-expanded="true">Lojas</a>
                    <div id="storeCollapse" class="collapse list-group-flush">
                        <a href="/new" class="list-group-item">Cadastrar</a>
                        <a href="/edit" class="list-group-item">Atualizar</a>
                        <a href="/list" class="list-group-item">Listar</a>
                        <a href="/delete" class="list-group-item">Remover</a>
                    </div>

                </div>
            </li>
            <li class="nav-item accordion">
                <div class="card">

                    <a href="#" class="btn btn-outline-info dropdown-toggle" data-toggle="collapse" type="button"
                        data-target="#productCollapse" aria-controls="productCollapse" aria-expanded="true">Produtos</a>
                    <div id="productCollapse" class="collapse list-group-flush">
                        <a href="/new" class="list-group-item">Cadastrar</a>
                        <a href="/edit" class="list-group-item">Atualizar</a>
                        <a href="/list" class="list-group-item">Listar</a>
                        <a href="/delete" class="list-group-item">Remover</a>
                    </div>

                </div>
            </li>
            <li class="nav-item">
                <div class="card">

                    <a href="/creditos" class="btn btn-outline-info">Sobre o app</a>

                </div>
            </li>
        </ul>
        <div class="creditos">&copy; 2019 Rai Gomes</div>
    </nav>