<!DOCTYPE html>
<html>

<head>
  <% include includes/head.ejs %>
</head>

<body>
  <main class="main-container">
    <header class="cabecalho">
      <% include includes/header.ejs %>
    </header>
    <nav class="menu-nav">
      <% include includes/menu.ejs %>
    </nav>
    <section class="conteudo-principal">
      <div class="logo">
        <figure class="figure">
          <img src="https://via.placeholder.com/1260x780.png" class="figure-img img-fluid logo-image" />
          <figcaption class="figure-caption">Logo das sacoleiras</figcaption>
        </figure>
      </div>
    </section>
    <footer class="rodape">
      <% include includes/footer.ejs %>
    </footer>
  </main>
  <% include includes/js_footer.ejs %>
</body>

</html>