<!DOCTYPE html>
<html>

<head>
  <% include includes/head.ejs %>
</head>

<body>
  <main class="main-container">
    <% include includes/header.ejs %>
    <%- include('includes/menu', { page: 'inicio', form: '' }) %>

    <section class="conteudo-principal">
      <div class="container">
        <div class="logo">
          <figure class="figure">
            <img src="https://via.placeholder.com/1260x720.png" class="figure-img img-fluid logo-image" />
            <figcaption class="figure-caption">Logo das sacoleiras</figcaption>
          </figure>
        </div>
      </div>
    </section>

  </main>
  <% include includes/js_footer.ejs %>
</body>

</html>