body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.main-container {
    display: grid;
    grid-template-areas: "header header""menu content""footer footer";
    grid-template-rows: auto;
    grid-template-columns: 20% 1fr;
    grid-gap: 20px;
}

.conteudo-principal {
    grid-area: content;
}