.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002B5C;
    color: #fff;
    padding: 0 15px;
}

.cabecalho-logo {
    text-align: center;
    flex-grow: 1;
}

.cabecalho-logo img {
    width: 60px;
}

.cabecalho-titulo {
    display: none;
}

@media(min-width: 661px) {
    .cabecalho {
        grid-area: header;
    }

    .cabecalho-logo {
        width: 5%;
        flex-grow: 0;
    }

    .cabecalho-titulo {
        display: block;
        flex-grow: 1;
    }

    .cabecalho-logo {
        order: 2;
    }

    .cabecalho-menu {
        display: none;
    }

}