.rodape {
    grid-area: footer;
    position: sticky;
    bottom: 0;
    background-color: #000;
    color: #fff;
}

.rodape-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}